{% extends "base.html" %}
{% block title %} Cargar archivo {% endblock %}

{% block content %}
    <h1> Cargar archivo</h1>
    
    {% if mensaje %}
        <div class="alert">{{ mensaje }}</div>
    {% endif %}

    <div id="cargar-xml-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Cargar Archivo XML</h2>
            <form action="{{ url_for('archivo') }}" method="post" enctype="multipart/form-data" class="navbar-form">
                <label for="file" class="navbar-label">Cargar XML:</label>
                <input type="file" id="file" name="file" required class="navbar-input">
                <button type="submit" class="navbar-button">Cargar</button>
            </form>
        </div>
    </div>

    {% if maquinas %}
        <h2>Listado</h2>
        
        <ul>
            {% for maquina in maquinas %}
                <li>{{ maquina.nombre }}</li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}