{% extends "base.html" %}
{% block title %} Ayuda {% endblock %}

{% block content %}
    <h1> Información del estudiante</h1>
    <h2>Josué Samuel de la Cruz Medina</h2>
    <h2>202247844</h2>
    <p>Introducción a la Programación y Computación 2</p>
    <p>Sección P</p>
    <br><br>

    <h1>Aplicación</h1>
    <p>Aplicación dedicada a la simulación de fabricación de un producto en diferente maquinaria.</p>
    <p>Es posible cargar un XML con diferentes maquinas y productos, con diferentes tiempos, brazos y componentes.</p>

    <br><br>

    <h1>Documentación</h1>
    <p>Para más información sobre el proyecto, puede consultar el repositorio en GitHub:</p>
    <a href="https://github.com/JoshdlC/IPC2_Proyecto2_202247844">Repositorio</a>

{% endblock %}