<!DOCTYPE html>
<html>
  <head>
    <title>  {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="static\img\Usac_logo.png"
  </head>
  <body>
    <nav>
        
          <a href="{{ url_for('index')}}">Inicio</a>
          <a href="{{ url_for('archivo')}}">Archivo</a>
          <a href="{{ url_for('reportes')}}">Reportes</a>
          <a href="{{ url_for('register')}} ">Registrar usuario</a>

          
    </nav>
    {% block content%}

    {% endblock  %}
  </body>
</html>