{% extends "base.html" %}
{% block title %} Página de inicio {% endblock %}

{% block content %}
    <h1>Inicio</h1>
    <div>
      
      <!-- <h2>Lista de amigos</h2>
      <ul>
        {% for friend in friends | reverse %}
          <li>{{ friend }}</li>
        {% endfor %}
      </ul> -->
      <p> Bienvenido a nuestro sistema de simulación de ensamblado de productos</p>

      <p> La fecha de hoy es {{date | today}}</p>
      <!-- <p>La frase repetida es: {{repeat("Hola ", 3) }}</p> -->

      <ol type="1">
        <li>Para empezar, cargue un archivo XML.</li>
        <li>En 'reportes' puede simular la elaboración de un producto.</li>
        <li>Si lo desea en 'reportes' puede generar el html de la simulación</li>
      </ol>
      <br>

      <button onclick="window.location.href='/archivo'">Cargar archivo</button>
      <button onclick="window.location.href='/reportes'">Ver reportes</button>
    </div>
    
    <br><br><br>

    {% if maquinas and maquinas.head != None %}
        <h2>Maquinas</h2>
        <ul>
            {% for maquina in maquinas %}
                <li>{{ maquina.nombre }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay maquinas registradas</p>
        <img src="/static/img/maquinaEnsambladora.png" alt="Máquina ensambladora" width="200" height="200">
    {% endif %}
    

    

{% endblock %}